# Containerlab generated state
clab/clab-*/

# Logs
*.log

# Editor files
.vscode/
.idea/
*.swp

# Python virtual environment
.gap/
venv/
.venv/

# Python cache files
__pycache__/
*.pyc

# Dataset and ML Outputs
network_telemetry.csv
models/
alerts/
chroma_db/

# Internal Documentation
documentation/